* {
    margin: 0  auto;
}
html{
    width: 1260px;
    height: 940px;
    background-color: #edf2c5;
}


.container{
    width: 1260px;
    max-width: 880;
    
}
.head{
    display: flex;
}
.Vegetables{
    width: 271px;
  height: 62px;
  font-family: Arial;
  font-size: 44px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.82;
  letter-spacing: normal;
  text-align: left;
  color: #778a50;
}
.fb{
    width: 25px;
  height: 25px;
  object-fit: contain;
}
.ig{
    width: 25px;
    height: 25px;
    object-fit: contain;
}
.loginout{
  width: 60px;
  height: 25px;
  border: solid 1px #778a50;
}
.joinout{
    width: 49px;
    height: 25px;
    border: solid 1px #778a50;
}
.loginout p{
    width: 46px;
  height: 15px;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.57;
  letter-spacing: normal;
  text-align: left;
  color: #778a50;
}
.joinout p{
    width: 35px;
  height: 15px;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.57;
  letter-spacing: normal;
  text-align: left;
  color: #778a50;
}
.navigation{
    width: 940px;
  height: 44px;
  border-radius: 3px;
  background-color: #778a50;
  display: flex;
}
.navigation.Home{
    width: 51px;
    height: 23px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: var(--beige);
}
.navigation.as{
    width: 80px;
    height: 23px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: var(--beige);
}
.navigation.ve{
    width: 98px;
    height: 23px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: var(--beige);
}
.navigation.on{
    width: 56px;
    height: 23px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: var(--beige);
}
.navigation.con{
    width: 69px;
    height: 23px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: var(--beige);
}
.navigation ul{
    display: flex;
}
.navigation li{
    display: flex;
}
.pumpkin{
    width: 940px;
  height: 448px;
  object-fit: contain;
  justify-content: center;
}
.vdb{
    width: 444px;
    height: 45px;
    border-radius: 3px;
    background-color: #778a50;
}
.conb{
    width: 444px;
    height: 45px;
    border-radius: 3px;
    background-color: #778a50;
}
.vdb p{
    width: 98px;
    height: 23px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: var(--beige);
}
.conb p{
    width: 69px;
    height: 23px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: var(--beige);
}
.pepper{
    width: 140px;
    height: 140px;
    object-fit: contain;
  }

.carrot{
    width: 140px;
    height: 140px;
    object-fit: contain;
  }

.corn{
    width: 140px;
    height: 140px;
    object-fit: contain;
  }

.bodytext{
    width: 444px;
  height: 140px;
  background-color: #f7fbda;

}
.a{
    width: 414px;
  height: 44px;
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #7d7d7d;
}
.b{width: 197px;
    height: 35px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #7d7d7d;
}
hr{
  width: 414px;
  height: 1px;
  background-color: #7d7d7d;
}
.last{
    width: 1260px;
  height: 60px;
  background-color: #778a50;
}
.last p{
    width: 301px;
  height: 14px;
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: left;
  color: var(--beige);
}




























































